.preamble {
    background-image: url(palm-tree.svg);
    background-repeat: no-repeat;
    background-position-x: 20%;
}

.explanation {
    background-image: url(seashell.svg);
    background-position: 80%;
    background-repeat: no-repeat;
}
