
@mixin left() {
    display: grid;
    grid-template-columns: 1fr 1fr;
    p, h3{
        grid-column-start: 2;
    }
}
// layout for the introduction

.preamble {
@include left;
}

.summary {
    grid-column-start: 1;
}

.explanation{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    p, h3 {
        grid-column-start: 1;
    }
}
.participation {
    @include left;
}
.benefits {
    grid-column-start: 1;
    grid-row-start: 4;
}
.requirements {
    @include left;
}
footer {
    grid-column-start: 2;
    grid-row-start: 5;
}

.wrapper {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

